<nav>
  <ul>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/transfers/local">Transfers</a></li>
    <li><a href="/cards">Cards</a></li>

    <% if (user && user.role === 'admin') { %>
      <li><a href="/admin/support">Support Tickets</a></li>
    <% } %>
  </ul>
</nav>
