<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/toast.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="toast" class="toast hidden">
      <div class="toast-content">
        <span id="toastMessage"></span>
      </div>
    </div>
  </body>
</html>
