<!-- Not used to be used later -->

<div class="market-ticker">
  <% tickers.forEach(t => { %>
  <span><%= t.name %>: <%= t.value %></span>
  <% }) %>
</div>

<article class="card">
  <h2>Our Rates</h2>
  <% indices.forEach(idx => { %>
  <p><%= idx.label %>: <%= idx.value %></p>
  <% }) %>
</article>

<!-- Not used to be used later  -->
