<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Website</title>
    <link rel="icon" href="image/five-icon.png" type="image/gif">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel="stylesheet" type="text/css" href="css/error.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.mixitup.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.ripples-min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/all.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/swiper-bundle.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/chart.min.js"></script>
    <script src="js/imask.min.js"></script>
</head>

<body>
    <!-- start_bw_menubar_wrap -->
    <div class="bw_menubar_wrap">
        <div class="bw_container">
            <div class="bw_menubar_content">
                <a class="bw_menubar_close" href="javascript:;">
                    <span class="material-symbols-rounded">close</span>
                </a>
                <ul class="bw_menubar_menu">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About us</a></li>
                    <li><a href="feature.html">Feature</a></li>
                    <li class="bw_drop_down_wrap"><a href="javascript:;" class="bw_dropdown_click">Page <span
                        class="material-symbols-sharp">expand_more</span></a>
                        <ul class="bw_dropdown_menu">
                            <li><a class="bw_dropdown_item" href="index.html">Home-1</a></li>
                            <li><a class="bw_dropdown_item" href="index-2.html">Home-2</a></li>
                            <li><a class="bw_dropdown_item" href="about.html">About</a></li>
                            <li><a class="bw_dropdown_item" href="blog-grid-1.html">Blog-1</a></li>
                            <li><a class="bw_dropdown_item" href="blog-grid-2.html">Blog-2</a></li>
                            <li><a class="bw_dropdown_item" href="blog-grid-3.html">Blog-3</a></li>
                            <li><a class="bw_dropdown_item" href="blog-detail-1.html">Blog Detail-1</a></li>
                            <li><a class="bw_dropdown_item" href="blog-detail-2.html">Blog Detail-2</a></li>
                            <li><a class="bw_dropdown_item" href="feature.html">Feature</a></li>
                            <li><a class="bw_dropdown_item" href="feature-detail.html">Feature Detail</a></li>
                            <li><a class="bw_dropdown_item" href="team.html">Team</a></li>
                            <li><a class="bw_dropdown_item" href="faq.html">FAQ-1</a></li>
                            <li><a class="bw_dropdown_item" href="faq-2.html">FAQ-2</a></li>
                            <li><a class="bw_dropdown_item" href="contact.html">Contact</a></li>
                            <li><a class="bw_dropdown_item" href="error.html">Error</a></li>
                            <li><a class="bw_dropdown_item" href="career.html">Career</a></li>
                            <li><a class="bw_dropdown_item" href="pricing.html">Pricing</a></li>
                            <li><a class="bw_dropdown_item" href="privacy-policy.html">Privacy Policy</a></li>
                            <li><a class="bw_dropdown_item" href="bank-special-offers.html">Bank Special Offers</a></li>
                            <li><a class="bw_dropdown_item" href="login.html">Login</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a class="bw_custom_buttom" href="javascript:;">Open an account</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- close_bw_menubar_wrap -->

    <!-- start_bw_header -->
    <header class="bw_header">
        <div class="bw_container">
            <div class="bw_header_contant">
                <div class="bw_header_logo_content">
                    <a href="index.html"><img src="image/logo.png" alt=""></a>
                </div>
                <ul class="bw_all_menu">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About us</a></li>
                    <li><a href="feature.html">Feature</a></li>
                    <li class="bw_header_dropdown">
                        <a href="javascript:;" class="bw_dropdown_hover">Page <span
                            class="material-symbols-sharp">expand_more</span></a>
                            <div class="bw_header_dropdown_menu">
                                <div class="bw_header_dropdown_menu_title"><span>Pages</span></div>
                                <ul>
                                    <li><a class="bw_header_dropdown_item" href="index.html">Home-1</a></li>
                                    <li><a class="bw_header_dropdown_item" href="index-2.html">Home-2</a></li>
                                    <li><a class="bw_header_dropdown_item" href="about.html">About</a></li>
                                    <li><a class="bw_header_dropdown_item" href="blog-grid-1.html">Blog-1</a></li>
                                    <li><a class="bw_header_dropdown_item" href="blog-grid-2.html">Blog-2</a></li>
                                    <li><a class="bw_header_dropdown_item" href="blog-grid-3.html">Blog-3</a></li>
                                    <li><a class="bw_header_dropdown_item" href="blog-detail-1.html">Blog Detail-1</a></li>
                                    <li><a class="bw_header_dropdown_item" href="blog-detail-2.html">Blog Detail-2</a></li>
                                    <li><a class="bw_header_dropdown_item" href="feature.html">Feature</a></li>
                                    <li><a class="bw_header_dropdown_item" href="feature-detail.html">Feature Detail</a></li>
                                    <li><a class="bw_header_dropdown_item" href="team.html">Team</a></li>
                                    <li><a class="bw_header_dropdown_item" href="faq.html">FAQ-1</a></li>
                                    <li><a class="bw_header_dropdown_item" href="faq-2.html">FAQ-2</a></li>
                                    <li><a class="bw_header_dropdown_item" href="contact.html">Contact</a></li>
                                    <li><a class="bw_header_dropdown_item" href="error.html">Error</a></li>
                                    <li><a class="bw_header_dropdown_item" href="career.html">Career</a></li>
                                    <li><a class="bw_header_dropdown_item" href="pricing.html">Pricing</a></li>
                                    <li><a class="bw_header_dropdown_item" href="privacy-policy.html">Privacy Policy</a></li>
                                    <li><a class="bw_header_dropdown_item" href="bank-special-offers.html">Bank Special Offers</a></li>
                                    <li><a class="bw_header_dropdown_item" href="login.html">Login</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                    <div class="bw_mobile_menu_icon">
                        <a href="javascript:;"><span class="material-symbols-outlined">menu</span></a>
                    </div>
                    <a class="bw_custom_buttom" href="javascript:;">Open an account</a>
                </div>
            </div>
        </header>
        <!-- close_bw_header -->

        <div class="bw_main_body">
            <div data-scroll class="page">
                <main>
                    <div class="bw_content">

                        <!-- start_bw_career_detail_section -->
                        <section class="bw_career_section bw_padding_y item">
                            <div class="bw_container">
                                <div class="bw_career_content">
                                    <h3 class="bw_sub_title_2" data-aos="fade-up" data-aos-duration="1500">Career</h3>
                                    <h2 class="bw_sub_title" data-aos="fade-up" data-aos-duration="1500">Life at Union Ledger</h2>
                                </div>
                                <div class="bw_career_detail">
                                    <div class="bw_career_detail_img"  data-aos="fade-up" data-aos-duration="1500">
                                        <img class="item__img" src="image/Rectangle 255.png" alt="">
                                    </div>
                                    <h4 class="bw_bank_name" data-aos="fade-up" data-aos-duration="1500">Urban<span>Bank</span></h4>
                                    <p data-aos="fade-up" data-aos-duration="1500">Sed ut perspiciatis unde omnis iste natus error sit voluptate maccusantiuaconi sectetur adipiscing elit. Proin in magna augue. Donec varius sem vel gravidaau ultrices.
                                    Integer ornare tincidunt est, at pellentesque augue imperdiet quis. oriemque laudantium magna augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in magna augue. Donec varius sem vel gravida ultrices. Integer ornare tincidunt est, at pellentesque augue imperdiet quis. Suspendisse potenti. Pellentesque finibus tellus eget luctus faucibus. Sed rhoncus ipsum nec ultricies lacinia.Aliquam est augue, pretium at sodales ut, tempus eu nisi. Phasellus at vestibulum sapien. Aliquam condimentum efficitur pharetra. Cras sed odio sodales, viverra purus vitae, dignissim dui.</p>
                                    <a class="bw_custom_buttom bw_flex_btn" data-aos="fade-up" data-aos-duration="1500" href="blog-detail-1.html">Join US <span class="material-symbols-sharp">chevron_right</span></a>
                                </div>
                            </div>
                        </section>
                        <!-- close_career_detail_section -->
                        <!--stat_career_detail_sub_section -->

                        <section class="bw_career_team">
                            <div class="bw_container">
                                <div class="bw_career_content">
                                    <h2 class="bw_sub_title" data-aos="fade-up" data-aos-duration="1500">Become Our Family And Join Creative Team</h2>
                                    <p data-aos="fade-up" data-aos-duration="1500">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                    dolor. Aenean massa.</p>
                                </div>
                                <div class="bw_career_group">
                                    <div class="bw_career_item" data-aos="fade-up" data-aos-duration="1500">
                                        <div class="bw_career-item-img">
                                            <img src="image/Rectangle 256.png" alt="">
                                        </div>
                                        <div class="bw_career-item-contain">
                                            <h4>Good Environment</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetuerit adipiscing elit. Aenean commodo
                                                ligula egi
                                                et dolor. Aenean massa.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="bw_career_item" data-aos="fade-up" data-aos-duration="1500">
                                        <div class="bw_career-item-img">
                                            <img src="image/Rectangle 258.png" alt="">
                                        </div>
                                        <div class="bw_career-item-contain">
                                            <h4>Good Environment</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetuerit adipiscing elit. Aenean commodo
                                                ligula egi
                                                et dolor. Aenean massa.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="bw_career_item" data-aos="fade-up" data-aos-duration="1500">
                                        <div class="bw_career-item-img">
                                            <img src="image/Rectangle 260.png" alt="">
                                        </div>
                                        <div class="bw_career-item-contain">
                                            <h4>Good Environment</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetuerit adipiscing elit. Aenean commodo
                                                ligula egi
                                                et dolor. Aenean massa.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </section>

                        <!--end_career_detail_sub_section -->
                        <!--start_career_option_section -->
                        <section class="bw_career_option">
                            <div class="bw_container">
                                <div class="bw_career_content">
                                    <h2 class="bw_sub_title" data-aos="fade-up" data-aos-duration="1500">Open Position</h2>
                                </div>
                                <div class="bw_career_option_group">
                                    <div class="bw_career_option_item" data-aos="fade-up" data-aos-duration="1500">
                                        <div class="bw_career-item-img">
                                            <img src="image/Rectangle 265.png" alt="">
                                        </div>
                                        <div class="bw_career-item-contain">
                                            <h4>React Native Developer</h4>
                                            <div class="bw_career_location">
                                                <div class="bw_career_location_icon">
                                                    <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                        d="M10 5.56522C10 9.70556 5.5 15 5.5 15C5.5 15 1 9.80417 1 5.56522C1 3.0437 3.0145 1 5.5 1C7.9852 1 10 3.0437 10 5.56522Z"
                                                        stroke="url(#paint0_linear_121_32)" stroke-miterlimit="10"
                                                        stroke-linejoin="round" />
                                                        <path
                                                        d="M5.49922 7.69612C6.49333 7.69612 7.29922 6.87855 7.29922 5.87003C7.29922 4.86151 6.49333 4.04395 5.49922 4.04395C4.50511 4.04395 3.69922 4.86151 3.69922 5.87003C3.69922 6.87855 4.50511 7.69612 5.49922 7.69612Z"
                                                        stroke="url(#paint1_linear_121_32)" stroke-miterlimit="10"
                                                        stroke-linejoin="round" />
                                                        <defs>
                                                            <linearGradient id="paint0_linear_121_32" x1="5.5" y1="1" x2="5.5" y2="15" gradientUnits="userSpaceOnUse">
                                                                <stop stop-color="#66DCB6" />
                                                                <stop offset="1" stop-color="#F4FAA4" />
                                                            </linearGradient>
                                                            <linearGradient id="paint1_linear_121_32" x1="5.49922" y1="4.04395" x2="5.49922" y2="7.69612" gradientUnits="userSpaceOnUse">
                                                                <stop stop-color="#66DCB6" />
                                                                <stop offset="1" stop-color="#F4FAA4" />
                                                            </linearGradient>
                                                        </defs>
                                                    </svg>
                                                </div>
                                                <p>Jakarta, DKI Jakarta</p>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetuerit adipiscing elit. Aenean commodo
                                                ligula egi
                                                et dolor. Aenean massa.
                                            </p>
                                            <a class="bw_custom_buttom bw_custom_popup bw_flex_btn" href="#bw_team_popup">Apply For This Job <span class="material-symbols-sharp">chevron_right</span></a>
                                        </div>
                                    </div>
                                    <div class="bw_career_option_item" data-aos="fade-up" data-aos-duration="1500">
                                        <div class="bw_career-item-img">
                                            <img src="image/Rectangle 265 (1).png" alt="">
                                        </div>
                                        <div class="bw_career-item-contain">
                                            <h4>Senior Digital Marketing</h4>
                                            <div class="bw_career_location">
                                                <div class="bw_career_location_icon">
                                                    <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M10 5.56522C10 9.70556 5.5 15 5.5 15C5.5 15 1 9.80417 1 5.56522C1 3.0437 3.0145 1 5.5 1C7.9852 1 10 3.0437 10 5.56522Z" stroke="url(#paint0_linear_121_32)" stroke-miterlimit="10" stroke-linejoin="round" />
                                                        <path
                                                        d="M5.49922 7.69612C6.49333 7.69612 7.29922 6.87855 7.29922 5.87003C7.29922 4.86151 6.49333 4.04395 5.49922 4.04395C4.50511 4.04395 3.69922 4.86151 3.69922 5.87003C3.69922 6.87855 4.50511 7.69612 5.49922 7.69612Z"
                                                        stroke="url(#paint1_linear_121_32)" stroke-miterlimit="10"
                                                        stroke-linejoin="round" />
                                                        <defs>
                                                            <linearGradient id="paint0_linear_121_32" x1="5.5" y1="1" x2="5.5" y2="15" gradientUnits="userSpaceOnUse">
                                                                <stop stop-color="#66DCB6" />
                                                                <stop offset="1" stop-color="#F4FAA4" />
                                                            </linearGradient>
                                                            <linearGradient id="paint1_linear_121_32" x1="5.49922" y1="4.04395" x2="5.49922" y2="7.69612" gradientUnits="userSpaceOnUse">
                                                                <stop stop-color="#66DCB6" />
                                                                <stop offset="1" stop-color="#F4FAA4" />
                                                            </linearGradient>
                                                        </defs>
                                                    </svg>
                                                </div>
                                                <p>Jakarta, DKI Jakarta</p>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetuerit adipiscing elit. Aenean commodo
                                                ligula egi
                                                et dolor. Aenean massa.
                                            </p>
                                            <a class="bw_custom_buttom bw_custom_popup bw_flex_btn" href="#bw_team_popup">Apply For This Job <span class="material-symbols-sharp">chevron_right</span></a>
                                        </a>
                                    </div>
                                </div>
                                <div class="bw_career_option_item" data-aos="fade-up" data-aos-duration="1500">
                                    <div class="bw_career-item-img">
                                        <img src="image/Rectangle 265 (2).png" alt="">
                                    </div>
                                    <div class="bw_career-item-contain">
                                        <h4>Mobile Developer</h4>
                                        <div class="bw_career_location">
                                            <div class="bw_career_location_icon">
                                                <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                    d="M10 5.56522C10 9.70556 5.5 15 5.5 15C5.5 15 1 9.80417 1 5.56522C1 3.0437 3.0145 1 5.5 1C7.9852 1 10 3.0437 10 5.56522Z"
                                                    stroke="url(#paint0_linear_121_32)" stroke-miterlimit="10"
                                                    stroke-linejoin="round" />
                                                    <path
                                                    d="M5.49922 7.69612C6.49333 7.69612 7.29922 6.87855 7.29922 5.87003C7.29922 4.86151 6.49333 4.04395 5.49922 4.04395C4.50511 4.04395 3.69922 4.86151 3.69922 5.87003C3.69922 6.87855 4.50511 7.69612 5.49922 7.69612Z"
                                                    stroke="url(#paint1_linear_121_32)" stroke-miterlimit="10"
                                                    stroke-linejoin="round" />
                                                    <defs>
                                                        <linearGradient id="paint0_linear_121_32" x1="5.5" y1="1"
                                                        x2="5.5" y2="15" gradientUnits="userSpaceOnUse">
                                                        <stop stop-color="#66DCB6" />
                                                        <stop offset="1" stop-color="#F4FAA4" />
                                                    </linearGradient>
                                                    <linearGradient id="paint1_linear_121_32" x1="5.49922" y1="4.04395" x2="5.49922" y2="7.69612" gradientUnits="userSpaceOnUse">
                                                        <stop stop-color="#66DCB6" />
                                                        <stop offset="1" stop-color="#F4FAA4" />
                                                    </linearGradient>
                                                </defs>
                                            </svg>
                                        </div>
                                        <p>Jakarta, DKI Jakarta</p>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetuerit adipiscing elit. Aenean commodo
                                        ligula egi
                                        et dolor. Aenean massa.
                                    </p>
                                    <a class="bw_custom_buttom bw_custom_popup bw_flex_btn" href="#bw_team_popup">Apply For This Job <span class="material-symbols-sharp">chevron_right</span></a>
                                </a>
                            </div>
                        </div>
                        <div class="bw_career_option_item" data-aos="fade-up" data-aos-duration="1500">
                            <div class="bw_career-item-img">
                                <img src="image/Rectangle 265 (3).png" alt="">
                            </div>
                            <div class="bw_career-item-contain">
                                <h4>Senior Project Manager</h4>
                                <div class="bw_career_location">
                                    <div class="bw_career_location_icon">
                                        <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 5.56522C10 9.70556 5.5 15 5.5 15C5.5 15 1 9.80417 1 5.56522C1 3.0437 3.0145 1 5.5 1C7.9852 1 10 3.0437 10 5.56522Z" stroke="url(#paint0_linear_121_32)" stroke-miterlimit="10"
                                            stroke-linejoin="round" />
                                            <path
                                            d="M5.49922 7.69612C6.49333 7.69612 7.29922 6.87855 7.29922 5.87003C7.29922 4.86151 6.49333 4.04395 5.49922 4.04395C4.50511 4.04395 3.69922 4.86151 3.69922 5.87003C3.69922 6.87855 4.50511 7.69612 5.49922 7.69612Z"
                                            stroke="url(#paint1_linear_121_32)" stroke-miterlimit="10"
                                            stroke-linejoin="round" />
                                            <defs>
                                                <linearGradient id="paint0_linear_121_32" x1="5.5" y1="1" x2="5.5" y2="15" gradientUnits="userSpaceOnUse">
                                                    <stop stop-color="#66DCB6" />
                                                    <stop offset="1" stop-color="#F4FAA4" />
                                                </linearGradient>
                                                <linearGradient id="paint1_linear_121_32" x1="5.49922" y1="4.04395" x2="5.49922" y2="7.69612" gradientUnits="userSpaceOnUse">
                                                    <stop stop-color="#66DCB6" />
                                                    <stop offset="1" stop-color="#F4FAA4" />
                                                </linearGradient>
                                            </defs>
                                        </svg>
                                    </div>
                                    <p>Jakarta, DKI Jakarta</p>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetuerit adipiscing elit. Aenean commodo
                                    ligula egi
                                    et dolor. Aenean massa.
                                </p>
                                <a class="bw_custom_buttom bw_custom_popup bw_flex_btn" href="#bw_team_popup">Apply For This Job <span class="material-symbols-sharp">chevron_right</span></a>
                            </div>
                        </div>
                        <div class="bw_career_option_item" data-aos="fade-up" data-aos-duration="1500">
                            <div class="bw_career-item-img">
                                <img src="image/Rectangle 265 (4).png" alt="">
                            </div>
                            <div class="bw_career-item-contain">
                                <h4>DEVELOPERS</h4>
                                <div class="bw_career_location">
                                    <div class="bw_career_location_icon">
                                        <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                            d="M10 5.56522C10 9.70556 5.5 15 5.5 15C5.5 15 1 9.80417 1 5.56522C1 3.0437 3.0145 1 5.5 1C7.9852 1 10 3.0437 10 5.56522Z"
                                            stroke="url(#paint0_linear_121_32)" stroke-miterlimit="10"
                                            stroke-linejoin="round" />
                                            <path
                                            d="M5.49922 7.69612C6.49333 7.69612 7.29922 6.87855 7.29922 5.87003C7.29922 4.86151 6.49333 4.04395 5.49922 4.04395C4.50511 4.04395 3.69922 4.86151 3.69922 5.87003C3.69922 6.87855 4.50511 7.69612 5.49922 7.69612Z"
                                            stroke="url(#paint1_linear_121_32)" stroke-miterlimit="10"
                                            stroke-linejoin="round" />
                                            <defs>
                                                <linearGradient id="paint0_linear_121_32" x1="5.5" y1="1" x2="5.5" y2="15" gradientUnits="userSpaceOnUse">
                                                    <stop stop-color="#66DCB6" />
                                                    <stop offset="1" stop-color="#F4FAA4" />
                                                </linearGradient>
                                                <linearGradient id="paint1_linear_121_32" x1="5.49922" y1="4.04395" x2="5.49922" y2="7.69612" gradientUnits="userSpaceOnUse">
                                                    <stop stop-color="#66DCB6" />
                                                    <stop offset="1" stop-color="#F4FAA4" />
                                                </linearGradient>
                                            </defs>
                                        </svg>
                                    </div>
                                    <p>Jakarta, DKI Jakarta</p>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetuerit adipiscing elit. Aenean commodo
                                    ligula egi
                                    et dolor. Aenean massa.
                                </p>
                                <a class="bw_custom_buttom bw_custom_popup bw_flex_btn" href="#bw_team_popup">Apply For This Job <span class="material-symbols-sharp">chevron_right</span></a>
                            </div>
                        </div>
                        <div class="bw_career_option_item" data-aos="fade-up" data-aos-duration="1500">
                            <div class="bw_career-item-img">
                                <img src="image/Rectangle 265 (5).png" alt="">
                            </div>
                            <div class="bw_career-item-contain">
                                <h4>Mobile Developer</h4>
                                <div class="bw_career_location">
                                    <div class="bw_career_location_icon">
                                        <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                            d="M10 5.56522C10 9.70556 5.5 15 5.5 15C5.5 15 1 9.80417 1 5.56522C1 3.0437 3.0145 1 5.5 1C7.9852 1 10 3.0437 10 5.56522Z"
                                            stroke="url(#paint0_linear_121_32)" stroke-miterlimit="10"
                                            stroke-linejoin="round" />
                                            <path
                                            d="M5.49922 7.69612C6.49333 7.69612 7.29922 6.87855 7.29922 5.87003C7.29922 4.86151 6.49333 4.04395 5.49922 4.04395C4.50511 4.04395 3.69922 4.86151 3.69922 5.87003C3.69922 6.87855 4.50511 7.69612 5.49922 7.69612Z"
                                            stroke="url(#paint1_linear_121_32)" stroke-miterlimit="10"
                                            stroke-linejoin="round" />
                                            <defs>
                                                <linearGradient id="paint0_linear_121_32" x1="5.5" y1="1" x2="5.5" y2="15" gradientUnits="userSpaceOnUse">
                                                    <stop stop-color="#66DCB6" />
                                                    <stop offset="1" stop-color="#F4FAA4" />
                                                </linearGradient>
                                                <linearGradient id="paint1_linear_121_32" x1="5.49922" y1="4.04395" x2="5.49922" y2="7.69612" gradientUnits="userSpaceOnUse">
                                                    <stop stop-color="#66DCB6" />
                                                    <stop offset="1" stop-color="#F4FAA4" />
                                                </linearGradient>
                                            </defs>
                                        </svg>
                                    </div>
                                    <p>Jakarta, DKI Jakarta</p>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetuerit adipiscing elit. Aenean commodo
                                    ligula egi
                                    et dolor. Aenean massa.
                                </p>
                                <a class="bw_custom_buttom bw_custom_popup bw_flex_btn" href="#bw_team_popup">Apply For This Job <span class="material-symbols-sharp">chevron_right</span></a>
                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <!--start_career_potion_section -->
            <!-- start_bw_join_contact_section -->
            <section class="bw_join_contact_section bw_career_contact_section bw_padding_y" data-aos="fade-right" data-aos-duration="1500">
                <div class="bw_container">
                    <div class="bw_join_contact_content">
                        <h2 class="bw_sub_title">Connect your finance with Union Ledger</h2>
                        <form>
                            <input class="bw_custom_input" type="email" placeholder="Enter your email" required>
                            <a class="bw_custom_buttom" href="javascript:;">Send
                                <svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M28.6269 13.6397L13.08 14.1826" stroke="black" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                    <path
                                    d="M28.6271 13.64L9.86763 23.4931L13.0802 14.1829L9.22601 5.11948L28.6271 13.64Z"
                                    stroke="black" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                </svg>
                            </a>
                        </form>
                        <svg-path-elements class="line_canvas" id="FIVE" count="25"></svg-path-elements>
                    </div>
                </div>
            </section>
            <!-- close_bw_join_contact_section -->
            <!-- start_bw_team_popup -->
            <div id="bw_team_popup" class="white-popup-block mfp-hide bw_career_popup">
                <div class="bw_career_popup_wrap " data-aos="fade-up" data-aos-duration="1500">
                    <div class="bw_container">
                        <form action="#">
                            <div class="user__details">
                                <div class="input__box_group">
                                    <div class="input__box">
                                        <span class="details">Full Name</span>
                                        <input type="text" placeholder="Enter your full name" required>
                                    </div>
                                    <div class="input__box">
                                        <span class="details">Last Name</span>
                                        <input type="text" placeholder="Enter your last name" required>
                                    </div>
                                </div>
                                <div class="input__box_group">
                                    <div class="input__box">
                                        <span class="details">Email</span>
                                        <input type="email" placeholder="Enter your Email id" required>
                                    </div>
                                    <div class="input__box">
                                        <span class="details">Mobile Number</span>

                                        <div class="wb_mobile_number">

                                            <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                                            placeholder="Enter your Mobile Number" required>
                                            <p>+91</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="input__box_group input__box_group_status">
                                    <div class="input__box">
                                        <span class="details">Work Status</span>
                                        <input type="text" placeholder="I am Experienced" required>
                                    </div>
                                    <div class="input__box">
                                        <span class="details "></span>
                                        <input type="text" placeholder="I am  Fresher" required>
                                    </div>
                                </div>
                                <div class="input__box_group input__box_group_file">
                                    <div class="input__box">
                                        <span class="details">Location</span>
                                        <div class="input_file_wrap">
                                            <p>Choose File</p>
                                            <input type="file" required>

                                        </div>
                                    </div>
                                    <div class="input__box">
                                        <span class="details "></span>
                                        <div class="input_file_wrap">
                                            <p>Choose File</p>
                                            <input type="file" required>

                                        </div>
                                    </div>
                                    <div class="input__box">
                                        <span class="details "></span>
                                        <div class="input_file_wrap">
                                            <p>Choose File</p>
                                            <input type="file" required>

                                        </div>
                                    </div>
                                </div>
                                <div class="input__box_group input__box_group_resume">
                                    <div class="input__box">
                                        <span class="details">Upload Resume</span>
                                        <div class="input_file_wrap">
                                            <p>Choose File</p>
                                            <input type="file" required>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <a class="bw_custom_buttom bw_flex_btn" href="javascript:;">Apply Now <span class="material-symbols-sharp">chevron_right</span></a>
                        </form>
                    </div>
                </div>
            </div>
            <!-- close_bw_team_popup -->




        </div>

    </main>
</div>

</div>

<!-- start_bw_footer -->
<footer class="bw_footer">
    <div class="bw_container">
        <div class="bw_footer_main_wrap">
            <div class="bw_footer_col frist">
                <div class="bw_footer_wrap">
                    <h5 class="bw_footer_title">Company</h5>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About us</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <div class="bw_footer_wrap">
                    <h5 class="bw_footer_title">Useful link</h5>
                    <ul>
                        <li><a href="about.html">About us</a></li>
                        <li><a href="feature.html">Feature</a></li>
                        <li><a href="javascript:;">Pages</a></li>
                    </ul>
                </div>
                <div class="bw_footer_wrap">
                    <h5 class="bw_footer_title">Support</h5>
                    <ul>
                        <li><a href="javascript:;">support@urbanbank</a></li>
                        <li><a href="faq.html">FAQ’s</a></li>
                    </ul>
                </div>
            </div>
            <div class="bw_footer_col second">
                <div class="bw_mf_email_wrap">
                    <h4>Join our account</h4>
                    <div class="mf_email_box">
                        <input type="email" name="email" placeholder="Enter your email address">
                        <a class="bw_custom_buttom" href="javascript:;"><span>Subscribe</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bw_copy_right_content">
            <div class="bw_footer_logo_content">
                <a href="index.html"><img src="image/footer_logo.png" alt="FOoter_Logo"></a>
            </div>
            <p>@Urbanbank,All right reserved</p>
        </div>
    </div>
</footer>
<!-- close_bw_footer -->

<script src="js/imagesloaded.pkgd.min.js"></script>
<script src="js/scroll-parallax.js"></script>
<script src="js/scroll-zoom.js"></script>
<script src="js/custom.js"></script>
</body>

</html>