<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Settings</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/security-password.css" />
  </head>
  <body>
    <div class="security-container">
      <h2><i class="fa fa-lock"></i> Update Password</h2>

      <form action="/security/password" method="POST" class="security-form">
        <div class="form-group">
          <label for="currentPassword">Current Password</label>
          <div class="input-with-icon">
            <input
              type="password"
              id="currentPassword"
              name="currentPassword"
              required
            />
            <i
              class="fa fa-eye toggle-password"
              data-target="currentPassword"
            ></i>
          </div>
        </div>

        <div class="form-group">
          <label for="newPassword">New Password</label>
          <div class="input-with-icon">
            <input
              type="password"
              id="newPassword"
              name="newPassword"
              required
            />
            <i class="fa fa-eye toggle-password" data-target="newPassword"></i>
          </div>
        </div>

        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <div class="input-with-icon">
            <input
              type="password"
              id="confirmPassword"
              name="confirmPassword"
              required
            />
            <i
              class="fa fa-eye toggle-password"
              data-target="confirmPassword"
            ></i>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Save Password</button>
      </form>
    </div>

    <script src="/js/security.js"></script>
  </body>
</html>
